*.suo
*.sdf
*.opensdf
.vs
*.opendb
*.sln
x64
Saved
Intermediate
DerivedDataCache
Debug
Durango
DerivedData
*.lib
*.version
*.exe
*.exp
*DebugGame*
desktop.ini
failed.hotreload
SideScroller.target
SideScroller.pdb
*-SideScroller-*.pdb
*-SideScroller-*.dll